{% include "header.html" %}
  <div class="pay-contanier">
    <div class="hero-text">
      <h1>send money</h1>
    </div>
    <div class="card">
      <img src="{{ url_for('static', filename='images/card-3.svg')}}" alt="card background">
      <div class="form">
        <form class="input-form" action="{{ url_for('pay')}}" method="post">
          <label>to</label>
          <input type="text" name="name" value="{{ name }}" placeholder="enter the account holder name">
          <label>account number</label>
          <input type="text" name="account" value="{{ account }}" placeholder="enter the account number">
          <label>amount</label>
          <input type="text" name="amount" value="₹ {{ amount }}" placeholder="enter the amount">
          <button type="submit" name="button">Send</button>
        </form>
      </div>
    </div>
    {% if send == 'yes': %}
    <div class="alert">
      <h1>Money Sent!</h1>
      <h1 class="tick">✔</h1>
    </div>
    {% elif send == 'no': %}
    <div class="alert">
      <h1>Enter the details!</h1>
      <h1 class="tick">❌</h1>
    </div>
    {% elif send == 'amount': %}
    <div class="alert">
      <h1>Enter the amount!</h1>
      <h1 class="tick">❌</h1>
    </div>
    {% elif send == 'name': %}
    <div class="alert">
      <h1>Enter the name!</h1>
      <h1 class="tick">❌</h1>
    </div>
    {% elif send == 'account': %}
    <div class="alert">
      <h1>Accunt number is missing!</h1>
      <h1 class="tick">❌</h1>
    </div>
    {% endif %}
  </div>
{% include "footer.html" %}
